<!-- Jessica Dutton, OSU CS 493, Homework 9 -->

<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/hw9.css') }}">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>

    <h1>Welcome</h1>

    Please click the "Log in" button below to log into Google and receive a JWT issued by Google.
    <br />

    <form id="get_oath" method="get" action ="/oath/">
        <button type="submit">Log in</button>
    </form>

</body>
</html>
