<!-- Jessica Dutton, OSU CS 493, Homework 9 -->

<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/hw9.css') }}">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Info</title>
</head>
<body>
    <h1> User Information </h1>

    <div>
        <b>First Name: </b> {{data[0]}}
        <br />
        <b>Last Name: </b> {{data[1]}}
        <br />
        <b>JWT: </b> {{data[2]}}
    </div>


</body>
</html>